<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
       
      <title>GCast Media Player</title>
      
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
      <link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css" />
      <link rel="stylesheet" href="styles/cover.css" />
      <!--<link rel="stylesheet/less" type="text/css" href="styles/styles.less" />-->
   
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/1.6.2/less.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
      
      <script type="text/javascript" src="/scripts/app/App.js"></script>
      <script type="text/javascript" src="/scripts/app/controllers/MainCtrl.js"></script>
      <script type="text/javascript" src="/scripts/app/controllers/ManageMediaItemsCtrl.js"></script>
      <script type="text/javascript" src="/scripts/app/services/MediaItemsService.js"></script>

      <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
      <!--<script type="text/javascript" src="scripts/sender.js"></script>-->
   </head>
   <body ng-app="gcast-media-player">
      <div class="site-wrapper">
         <div class="site-wrapper-inner">
            <div class="cover-container">
               <div class="masthead clearfix">
                  <div class="inner">
                     <h3 class="masthead-brand">GCast Media Player</h3>
                     <ul class="nav masthead-nav">
                        <li class="active"><a href="#">Home</a></li>
                     </ul>
                  </div>
               </div>
   
               <div class="inner cover">
                  <div class="media-player" ng-controller="MainCtrl">
                     <div class="lead">
                        <div class="row">
                           <div class="col-xs-12">
                              <input type="range" value="0" min="0" max="100" class="input-block-level" />   
                           </div>
                        </div>
                     </div>
                     <div class="lead">
                        <div class="row">
                           <div class="col-xs-3">
                              <button class="btn btn-lg btn-block btn-info">
                                 <i class="fa fa-backward"></i>
                              </button>
                           </div>
                           <div class="col-xs-6">
                              <button class="btn btn-lg btn-block btn-info">
                                 <i class="fa fa-play"></i>
                              </button>
                           </div>
                           <div class="col-xs-3">
                              <button class="btn btn-lg btn-block btn-info">
                                 <i class="fa fa-forward"></i>
                              </button>
                           </div>
                        </div>
                     </div>
                     <div>
                        <div class="input-group">
                           <span class="input-group-addon">
                              <i class="fa fa-desktop"></i>
                           </span>
                           <select class="form-control" ng-model="selectedMediaItem" ng-model="selectedMediaItem" ng-options="mediaItem as mediaItem.Name for mediaItem in mediaItems | orderBy:'Name'">
                              <option value=""></option>
                           </select>
                           <span class="input-group-btn">
                              <button type="button" class="btn btn-info" ng-click="manageMediaItems()">
                                 <i class="fa fa-ellipsis-h"></i>   
                              </button>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
   
               <div class="mastfoot">
                  <div class="inner">
                     <p>
                        Created by <a href="twitter.com/jeremyalan">@jeremyalan</a>, source available on 
                        <a href="http://www.github.com/jeremyalan/gcast-media-player">Github</a>.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <script id="style-less" type="style/less">
         .panel {
            color: #333;
            text-shadow: none;
         }

         .media-player {
            border-radius: 4px;
            border: 1px solid white;
            padding: 16px;
         }

         .list-bordered {
            border: 1px solid #ddd;
            border-radius: 4px;
         }

         .list-striped {
            > li {
               margin: 0;
               padding: 4px;

               &:nth-child(odd) {
                  background: #eee;
               }

               + li {
                  border-top: 1px solid #ddd;
               }
            }
         }

         .line-height-sm {
            line-height: 30px;
         }

         .modal {
            color: #333;
            text-align: left;
            text-shadow: none;

            .modal-header {
               h3 {
                  margin: 0;
               }
            }
         }
      </script>
      
      <script>
         $(function () {
            new(less.Parser)('local').parse($('#style-less').html(), function (e, root) {
              var css = root.toCSS();
              
              var style = $('<style></style>');
              style.html(css);
              
              $('body').append(style);
            });
         });
      </script>
   </body>
</html>