<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
       
      <title>GCast Media Player</title>
      
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
      <link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css" />
      <link rel="stylesheet" href="styles/cover.css" />
      <!--<link rel="stylesheet/less" type="text/css" href="styles/styles.less" />-->
   
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/1.6.2/less.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
      
      <script type="text/javascript" src="scripts/app/App.js"></script>
      <script type="text/javascript" src="scripts/app/controllers/MainCtrl.js"></script>
      <script type="text/javascript" src="scripts/app/controllers/ManageMediaItemsCtrl.js"></script>
      <script type="text/javascript" src="scripts/app/services/MediaItemsService.js"></script>

      <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
      <!--<script type="text/javascript" src="scripts/sender.js"></script>-->
   </head>
   <body>
      <a href="https://github.com/jeremyalan/gcast-media-player" target="_blank">
         <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" 
              alt="Fork me on GitHub" 
              data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" />
      </a>

      <div class="site-wrapper" ng-controller="MainCtrl">
         <div class="site-wrapper-inner">
            <div class="cover-container">
               <div class="masthead clearfix">
                  <div class="inner">
                     <h3 class="masthead-brand">GCast Media Player</h3>
                     <ul class="nav masthead-nav">
                        <li class="active"><a href="#">Home</a></li>
                     </ul>
                  </div>
               </div>
   
               <div class="inner cover">
                  <div class="media-player">
                     <div class="lead" ng-show="errors && errors.length > 0">
                        <div class="alert alert-info">
                           <button type="button" class="close" ng-click="errors = []">&times;</button>
                           <ul class="list-unstyled">
                              <li ng-repeat="error in errors">
                                 <span>{{ error }}</span>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="lead">
                        <div class="row">
                           <div class="col-xs-11">
                              <input type="range" ng-model="seekPosition" min="0" max="{{ totalDuration }}" class="input-block-level" />   
                           </div>
                           <div class="col-xs-1">
                              <a href="#" ng-click="createSession()" ng-show="isAvailable">
                                 <img ng-src="styles/images/chromecast-{{ isSessionActive() ? 'active' : 'inactive' }}.png" style="width: 100%; vertical-align: top" />
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="lead">
                        <div class="row">
                           <div class="col-xs-3">
                              <button class="btn btn-lg btn-block btn-info" ng-click="seekBackward()">
                                 <i class="fa fa-backward"></i>
                              </button>
                           </div>
                           <div class="col-xs-6" ng-show="!isPlaying()">
                              <button class="btn btn-lg btn-block btn-info" ng-click="play()">
                                 <i class="fa fa-play"></i>
                              </button>
                           </div>
                           <div class="col-xs-6" ng-show="isPlaying()">
                              <button class="btn btn-lg btn-block btn-info" ng-click="pause()">
                                 <i class="fa fa-pause"></i>
                              </button>
                           </div>
                           <div class="col-xs-3">
                              <button class="btn btn-lg btn-block btn-info" ng-click="seekForward()">
                                 <i class="fa fa-forward"></i>
                              </button>
                           </div>
                        </div>
                     </div>
                     <div>
                        <div class="input-group">
                           <span class="input-group-addon">
                              <i class="fa fa-desktop"></i>
                           </span>
                           <select class="form-control" ng-model="selectedMediaItem" ng-model="selectedMediaItem" ng-options="mediaItem as mediaItem.Name for mediaItem in mediaItems | orderBy:'Name'"></select>
                           <span class="input-group-btn">
                              <button type="button" class="btn btn-info" ng-click="manageMediaItems()">
                                 <i class="fa fa-ellipsis-h"></i>   
                              </button>
                           </span>
                        </div>
                     </div>
                  </div>
                  
                  <div class="media-player" style="margin-top: 10px" ng-show="html5Video || html5Audio">
                     <div ng-if="html5Video">
                        <video width="100%" controls>
                           <source ng-src="{{ html5Video }}" type="video/mp4"></source>
                        </video>
                     </div>
                     <div ng-if="html5Audio">
                        <audio width="100%" controls>
                           <source ng-src="{{ html5Audio }}" type="audio/mp3"></source>
                        </audio>
                     </div>

                     <div ng-click="closeHtml5Media()">
                        <button class="btn btn-sm btn-block btn-info">
                           <i class="fa fa-eye-slash"></i>
                           <span> Hide this window</span>
                        </button>
                     </div>
                  </div>
               </div>

               <div class="mastfoot">
                  <div class="inner">
                     <p>
                        Created by <a href="twitter.com/jeremyalan">@jeremyalan</a>, source available on 
                        <a href="http://www.github.com/jeremyalan/gcast-media-player">Github</a>.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <script id="style-less" type="style/less">
         .panel {
            color: #333;
            text-shadow: none;
         }

         .media-player {
            border-radius: 4px;
            border: 1px solid white;
            text-align: left;
            padding: 16px;

            .alert {
               font-size: 14px;
               text-shadow: none;
            }
         }

         .list-bordered {
            border: 1px solid #ddd;
            border-radius: 4px;
         }

         .list-striped {
            > li {
               margin: 0;
               padding: 4px;

               &:nth-child(odd) {
                  background: #eee;
               }

               + li {
                  border-top: 1px solid #ddd;
               }
            }
         }

         .smaller-75 {
            font-size: 0.75em;
         }

         .smaller-90 {
            font-size: 0.9em;
         }

         .bigger-110 {
            font-size: 1.1em;
         }

         .bigger-125 {
            font-size: 1.25em;
         }

         .bigger-150 {
            font-size: 1.5em;
         }

         .bigger-200 {
            font-size: 2em;
         }

         .line-height-sm {
            line-height: 30px;
         }

         .modal {
            color: #333;
            text-align: left;
            text-shadow: none;

            .modal-header {
               h3 {
                  margin: 0;
               }
            }
         }
      </script>
      
      <script>
         $(function () {
            new(less.Parser)('local').parse($('#style-less').html(), function (e, root) {
              var css = root.toCSS();
              
              var style = $('<style></style>');
              style.html(css);
              
              $('body').append(style);
            });
         });
      </script>
   </body>
</html>